<div class="container">
    <div *ngIf="productexists; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <table class="table table-responsive">
        <thead class="bg-primary text-white">
          <tr>
            <th scope="col">Product Details:</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <table>
                  <tr><td>&nbsp;ID: {{product?.id}}</td></tr>
                  <tr><td>&nbsp;Name: {{product?.name | uppercase}}</td></tr>
                  <tr><td>&nbsp;Description: {{product?.description}}</td></tr>
                  <tr><td>&nbsp;Specification: {{product?.details?.specification}}</td></tr>
                  <tr><td>&nbsp;Quantity: {{product?.details?.quantity}}</td></tr>
                  <tr><td>&nbsp;Price: <i class="fa fa-inr" aria-hidden="true"></i>{{product?.details?.price}}</td></tr>
              </table>
              <td>
                <img src="{{product?.details?.imageURL}}" class="rounded float-start" alt="MI Mobile"
                     style="height: 350px;width: 350px;">
              </td>
            </tr>
        </tbody>
    </table>
    </ng-template>
    <ng-template #elseBlock>
      <table class="table table-responsive">
        <thead class="bg-danger text-white">
          <tr>
            <th scope="col">Details:</th>
          </tr>
        </thead>
        <tbody>
            <tr>
            <td>
                Product Does not exist!!
            </td>
          </tr>
        </tbody>
    </table>
    </ng-template>
    <button class="btn btn-primary" (click)="previousPage()">Go Back</button>
  </div>


